# API da Sala do Futuro
API_BASE_URL=https://sedintegracoes.educacao.sp.gov.br/saladofuturobffapi
EDUSP_API_URL=https://edusp-api.ip.tv

# Chave de assinatura da API
OCP_APIM_SUBSCRIPTION_KEY=d701a2043aa24d7ebb37e9adf60d043b
